<div class="devise">
  <div class="devise-wrapper">
    <h2>Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <div class="field-label">
          <%= f.label :name %><br />
        </div>
        <div class="field-input">
          <%= f.text_field :name, autofocus: true %>
        </div>
      </div>

      <div class="field">
        <div class="field-label">
          <%= f.label :email %><br />
        </div>
        <div class="field-input">
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
      </div>

      <div class="field">
        <div class="field-label">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(6文字以上)</em>
          <% end %><br />
        </div>
        <div class="field-input">
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
