<div class="new-main">
  <%= form_for @post do |f| %>
    <div id="image-box">
      <%= f.fields_for :images do |i| %>
        <div data-index="<%= i.index %>" class="js-file_group">
          <%= i.file_field :src, class: 'js-file' %><br>
          <span class="js-remove">削除</span>
        </div>
      <% end %>
    </div>
    <%= f.text_area :comment, placeholder: "コメントを入力してください" %>
    <%= f.submit "送信" %>
  <% end %>
</div>