<div class="new-main">
  <div class="photos">
    <%= image_tag "/images/hyojoo_front.jpeg", size: "300x250", alt: "正面写真" %>
    <%= image_tag "/images/hyojoo_side.jpeg", size: "300x250", alt: "側面写真" %>
    <%= image_tag "/images/hyojoo_back.jpeg", size: "300x250", alt: "背面写真" %>
  </div>
  <%= form_with model: "@post" class: "" do |form| %>
    <%= form.file_filed :image %>
    <%= form.text_area :comment, placeholder: "コメントを入力してください" %>
    <%= form.submit "送信" %>
  <% end %>
</div>