<div class="show-main">
  <div class="lists">
    <div>
      <% @images.each do |image| %>
        <%= image_tag image.src.url, size: "400x400", alt: "fair-style" %>
      <% end %>
    </div>
    <div class="comment">
      <div class="upper">
        <p class="upper__date"><%= @post.created_at %></p>
        <p class="upper__poster"><%= @user.name %></p>
      </div>
      <div class="midle">
        <%= @post.comment %>
      </div>
      <div class="bottom">
        <% if @favorite %>
          <%= link_to "/posts/#{@post.id}/favorites/#{@favorite.id}", method: :delete do %>
            <i class="fas fa-heart"></i>
          <% end %>
        <% else %>
          <%= link_to "/posts/#{@post.id}/favorites", method: :post do %>
            <i class="far fa-heart"></i>
          <% end %>
        <% end %>
        <%= @post.favorites.size %>
        <%= link_to "https://twitter.com/", class: "bottom__icon" do %>
          <i class="fab fa-twitter"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>